__pycache__
.data
.venv
.env
.gcloud
.local
.vscode
db.sqlite3
assets/
env/
package-lock.json
staticfiles/
docker-volumes/
sonarqube/
htmlcov/
.coverage
sonar-project.properties
coverage.xml
docker-compose-scan.yml